In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
plot_df = pd.read_csv("/content/drive/MyDrive/AI/key_and_plot2.tsv", sep='\t', header=None)

In [ ]:
plot_df.columns = ['imdb_id', 'tags', 'plot']

In [ ]:
def list_tag(tag_str):
    return tag_str.split(" | ")

In [ ]:
plot_df['tags'] = plot_df['tags'].apply(list_tag)

In [ ]:
plot_df

,imdb_id,tags,plot
0,tt0001223,"[monster, frankenstein's monster, mirror, alch...",The first filmed version of Frankenstein. The ...
1,tt0001223,"[monster, frankenstein's monster, mirror, alch...","Frankenstein, a young medical student, trying ..."
2,tt0001223,"[monster, frankenstein's monster, mirror, alch...","Frankenstein, a young student, is seen bidding..."
3,tt0001223,"[monster, frankenstein's monster, mirror, alch...","Frankenstein, a young medical student, tries t..."
4,tt0001223,"[monster, frankenstein's monster, mirror, alch...",The film starts with the intro page and a mess...
...,...,...,...
6536,tt9812474,"[parenthood, psychodrama, human animal hybrid,...",Haunted by the indelible mark of loss and sile...
6537,tt9844322,[snow adventure],The sequel on the big screen to the cult serie...
6538,tt9900092,"[witch, sorceress, magic, supernatural killer,...",A trio of witches are trained to become powerf...
6539,tt9910948,[pokemon],A story of young adults who are on a quest to ...
6540,tt9913602,[snow],A thick layer of fresh snow provides loads of ...

In [ ]:
import re

def clean_text(it):
    it = it.replace('*', '')
    it = it.replace('^', '')
    it = it.replace('~', '')
    it = it.replace('@', '')
    it = it.replace('Synopsis', '')
    it = it.replace('SYNOPSIS', '')
    it = it.replace('movie', 'story')
    it = it.replace('film', 'story')
    it = it.replace('episode', 'story')
    it = it.replace('Season', 'Arc')
    it = it.replace('SEASON', 'Arc')
    it = re.sub(r'\([^()]*\)', '', it)

    it = ' '.join(it.split()[:300])

    return it

In [ ]:
prefix_format = "~^{}^~@{}<|endoftext|>\n"

In [ ]:
for index, row in plot_df.iterrows():
    with open('/content/drive/MyDrive/AI/plot2tag_encoded_6500.csv', 'a', encoding='utf-8') as plot2tag_file:
        tag_prefix = '^'.join(row['tags'])
        encoded_title = prefix_format.format(tag_prefix,  clean_text(row['plot']))
        plot2tag_file.write(encoded_title)